body{
	background:#000;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
}
#home{
	font-family:'raleway';
	
}
.parent-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100%;
}
#home h1{
	text-transform: uppercase;
	font-size:54px;
	text-align:center;
	margin-bottom:0;
}
#home ul li{
	color:#FFF;
	font-size:30px;
	display:inline;
	text-transform: uppercase;
}
#home ul li a{
	color:#FFF;
	text-decoration:none;
}
#home ul li a:hover{
	color:#F00;
	text-decoration:none;
}
#home ul{
	text-align:center;
	padding-inline-start:0;
}